div.panel.panel-default
	div.panel-heading #{model.name}
	div.panel-body
		h4 Description
		p #{model.description}
		if model.users.length > 0
			h4 Users
			each user in model.users
				button.btn.btn-info #{user}
			p
		div
			button.home-delete-count.btn.btn-default.btn-block Supprimer
			button.home-modify-count.btn.btn-default.btn-block Modifier
