div.panel.panel-default
	div.panel-heading #{model.name}
	div.panel-body
		h4 Description
		p #{model.description}
		button.home-delete-count.btn.btn-default Supprimer
		button.home-modify-count.btn.btn-default Modifier
