doctype
html
    head
        title 404 - File not found
        link(rel="stylesheet", type="text/css", href="stylesheets/app.css", media="all")

    body.error-404
        .container
            .col-lg-8.col-lg-offset-2.text-center
                .logo
                    h1 Oops, this count cannot be found
                .text-muted
                    p You have mistyped the URL address
                    p or
                    p The Cozy's owner may have deleted the relative count
