doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Cozy - Count

    link(rel="stylesheet", href="/fonts/fonts.css")
    link(rel="stylesheet", href="stylesheets/app.css")

  body#content-screen.application.container

    script!= imports
    script(src="javascripts/vendor.js")
    script(src="javascripts/app_public.js", onload="require('public/initialize');")
