div.panel.panel-default
	.panel-heading #{model.name}
	.panel-body

		label(for='description') Description
		#description.form-group
			p #{model.description}

		label(for='user-list') Users
		#user-list.form-group
			each user in model.users
				button.btn(style="background-color: ##{user.color}") #{user.name}

		.form-group
			button.home-delete-count.btn.btn-primary.btn-block Supprimer
			button.home-modify-count.btn.btn-primary.btn-block Modifier
