// Base Styles

*
	box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility

body,
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline


body
	padding-top: 51px;

.text-center
	padding-top: 20px;

.col-xs-12
	background-color: #fff;

#sidebar
	height: 100%;
	padding-right: 0;
	padding-top: 20px;

#sidebar .nav
	width: 95%;

#sidebar li
	border:0 #f2f2f2 solid;
	border-bottom-width:1px;


