@media (max-width: 480px)
    // Landscape phones and down

    //body
        //padding 0 20px
        //text-rendering optimizeSpeed

    .layout-container
        width auto

@media (min-width: 768px) and (max-width: 979px)
    // Portrait tablet to landscape and desktop

    .layout-container
        width 724px

@media (min-width: 1200px)
    // Large desktop

	.layout-container
		width 1170px

/* collapsed sidebar styles */
@media screen and (max-width: 767px)
	.row-offcanvas
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;

	.row-offcanvas-right
	.sidebar-offcanvas
		right: -41.6%;


	.sidebar-offcanvas
		left: -41.6%;

	.row-offcanvas-right.active
		right: 41.6%;

	.row-offcanvas-left.active
		left: 41.6%;

	.sidebar-offcanvas
		position: absolute;
		top: 0;
		width: 41.6%;

	#sidebar
		padding-top:0;


