if model
	h1 #{model.name}
	form
		.form-group
			label(for='input-name') Count Name
			input#input-name.form-control(type='text', placeholder='Name', value="#{model.name}")
		.form-group
			label(for='input-description') Count Description
			input#input-description.form-control(type='text', placeholder='Description', value="#{model.description}")
		button#submit-editor.btn.btn-default Submit
else
	h1 New Count
	form
		.form-group
			label(for='input-name') Count Name
			input#input-name.form-control(type='text', placeholder='Name')
		.form-group
			label(for='input-description') Count Description
			input#input-description.form-control(type='text', placeholder='Description')
		button#submit-editor.btn.btn-default Submit

