if model
	h1 #{model.name}
	form
		.form-group
			label(for='input-name') Count Name
			input#input-name.form-control(type='text', placeholder='Name', value="#{model.name}")
		.form-group
			label(for='input-description') Count Description
			input#input-description.form-control(type='text', placeholder='Description', value="#{model.description}")
		button#submit-editor.btn.btn-default Submit
else
	h1 New Count
	#formular
		#input-name-grp.form-group
			label(for='input-name') Count Name
			input#input-name.form-control(type='text', placeholder='Name')

		.form-group
			label(for='input-description') Count Description
			input#input-description.form-control(type='text', placeholder='Description')

		label(for='currency') Count Currencies
		#currency.form-group
			button.btn.btn-default.currency(type='button', value='€') €
			button.btn.btn-default.currency(type='button', value='$') $


		.form-group
			#list-users.btn-group

		label(for='input-user-grp') Count Users
		#input-user-grp.form-group
			.input-group
				form
					input#input-users.form-control(type='text', placeholder='My name')
					span.input-group-btn
						input#add-user.btn.btn-default(type='submit', value='Add user')
		#name-alert

		button#submit-editor.btn.btn-default Submit

