.page-header
  h1 New count
  small A new count is juste a folder where you can put some friends and
  | create a fictional history of who paid what and who owe who. Each count is
  | totaly separate to other count so each user create in this one is not linked
  | (yet) with the others count. If you don't understand just try, you will see !
#formular
  #input-name-grp.form-group
    label(for='input-name') Count Name
    input#input-name.form-control(type='text', placeholder='Name')

  .form-group
    label(for='input-description') Count Description
    input#input-description.form-control(type='text', placeholder='Description')

  label(for='currency') Count Currencies
  #currency.form-group
    button.btn.btn-default.currency(type='button', value='€') €
    button.btn.btn-default.currency(type='button', value='$') $


  .form-group
    #list-users.btn-group

  label(for='input-user-grp') Count Users
  #input-user-grp.form-group
    .input-group
      form
        input#input-users.form-control(type='text', placeholder='My name')
        span.input-group-btn
          input#add-user.btn.btn-default(type='submit', value='Add user')
  #name-alert



  button#submit-editor.btn.btn-default Submit

