div.panel.panel-primary
  .panel-heading #{model.name}
  .panel-body

    if model.description
      label(for='description') Description
      #description.form-group
        p #{model.description}

    label(for='user-list') Users
    #user-list.form-group
      each user in model.users
        button.btn(style="background-color: ##{user.color}") #{user.name}

    .form-group
      button.count-see.btn.btn-default.btn-block See
      button.count-modify.btn.btn-default.btn-block Modify
      button.count-delete.btn.btn-default.btn-block Delete
