.panel.panel-default
	.panel-body
		#stats-module

		.panel.panel-default
			.panel-heading#header-balancing Balancing
			#module-balancing

		.panel.panel-default
			.panel-heading Expense
			#expense-list-view.panel-body
