.panel.panel-default
  .panel-body
    #stats-module

  .panel.panel-default
    .panel-heading#header-balancing
      span Balancing
      span.caret(style='float: right')
    #module-balancing

  .panel.panel-default
    .panel-heading Expense
    .panel-body
      .panel.panel-default(style='background-color: grey')
        #module.panel-body
          button#add-new-expense.btn.btn-default.btn-block Add a new expense
        #expense-list-view
