
.jumbotron
	h1 #{count.name}
	p #{count.description}
.panel.panel-default
	.panel-heading Users
	.panel-body
		#user-list
			each user in count.users
				p #{user}
		.row
			.col-lg-6
				.input-group
					input#count-input-add-user.form-control(type='text', placeholder='My name')
					span.input-group-btn
						button#count-lauch-add-user.btn.btn-default(type='button') Add user


.panel.panel-default
	.panel-heading Add a new expense
	.panel-body
		label(for='new-transfer') Type
		#new-transfer
			#new-transfer-type.row
				.form-group
					button#transfer-type-expense.btn.btn-default.transfer-type(type='button', value='expense') Expense
					button#transfer-type-payment.btn.btn-default.transfer-type(type='button', value='payment') Payment


.panel.panel-default.panel-heading History
	#history-list-view.panel-body
