
.jumbotron
	h1 #{count.name}
	p #{count.description}
.panel.panel-default
	.panel-heading Users
	.panel-body
		#user-list
			each user in count.users
				p #{user}
		.row
			.col-lg-3
				.input-group
					input#count-input-add-user.form-control(type='text', placeholder='My name')
					span.input-group-btn
						button#count-lauch-add-user.btn.btn-default(type='button') Add user


.panel.panel-default.panel-heading History
	.panel-body
		.panel.panel-default
			#new-transfer-module.panel-body
				button#add-new-transfer.btn.btn-default.btn-block Add a new expense
	#history-list-view
