
.jumbotron
	h1 #{count.name}
	p #{count.description}
#stats-module


.panel.panel-default
	.panel-heading Expense
	.panel-body
		.panel.panel-default(style='background-color: grey')
			#module.panel-body
				include ./action_btn.jade
	#expense-list-view
