.panel.panel-default
  .panel-body
    #stats-module

    .panel.panel-primary
      .panel-heading#header-balancing
        span.caret
        span &nbsp;Balancing
      #module-balancing

    .panel.panel-primary
      .panel-heading History
      .panel-body
        #expense-list-view
