.panel.panel-default
	.panel-heading Users
	.panel-body
		.row
			.col-md-4
				#user-list
					each user in count.users
						.row
							button.btn(style="background-color: ##{user.color}") #{user.name}
				.row
					.input-group
						input#count-input-add-user.form-control(type='text', placeholder='My name')
						span.input-group-btn
							button#count-lauch-add-user.btn.btn-default(type='button') Add user
			.col-md-4
				canvas#chart-users
			.col-md-4
				label(for='all-expenses') All Expenses:
				p#all-expenses #{count.allExpenses}
				label(for='nb-expenses') Number Expenses:
				p#nb-expenses #{count.expenses.length}
