.panel.panel-default
  .panel-body
    if numberArchives > 0
      ul#list-view.nav.nav-sidebar
    else
      .page-header
        h1 No archive yet
        p When you archieve some account you can find it here :)

